@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
   scroll-behavior: smooth;
   min-height: 100% !important;
}

*{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

body {
   /* background-color: rgb(55 146 55); */
}

body > div > div{
   background: url("assets\o3213298138_5127481 - Copy.WebP");
      background-repeat: no-repeat;
      background-size: 100vw;
   /* background: #379237cc !important; */
}

@media (max-width: 1024px) {
   body > div > div{
      background-size: auto 170vw;
      background-repeat: no-repeat;
      background-position-x: 38%;
   }
}

::-webkit-file-upload-button {
   display: none;
}

::file-selector-button{
   display: none;
}

::-webkit-scrollbar
{
    width: 0.60em;
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(33, 33, 33, 0.165);
    border-radius: 56px;
    padding-right: 10px;
}

::-webkit-scrollbar-track
{
    background-color: rgba(98, 98, 98, 0.261);
    border-radius: 26px;
}

.colorful-button{
   background: linear-gradient(155deg, rgb(115, 198, 19) 20%, rgb(63, 158, 34) 45%, rgb(63, 158, 34) 50%, rgb(4, 186, 71) 95%);
}

#change-type:after{
   content: var("Lokasi");
   position: absolute;
   top: 0;
}

.quick-notification{
   animation: notification 900ms cubic-bezier(0.765, 1, 0.6, 0.8), disappear 1.5s 3.5s ease forwards;
   animation-iteration-count: 1 ;
}

@keyframes notification {
   from {
      bottom: 0;
      opacity: 0;
   }
   65% {
      bottom: 12vh;
   }
   80% {
      bottom: 9.5vh;
   }
   to {
      bottom: 10vh;
   }
}

@keyframes disappear {
   from {
   }

   80% {
      opacity: 0;
   }
   to {
      bottom: 0;
      opacity: 0;
   }
}

#inputs-coniner input{
   box-shadow: inset 0px 1.5px 3px 1.5px rgba(0, 0, 0, 0.345);
   border-radius: 10px;
   padding: 5px 6px;
}

.slick-track {
   /* gap: 12px; */
   display: flex !important;
   /* width: max-content !important;
   margin: auto !important; */
}
/* 
.slick-list::before {
   position: absolute !important;
   right: 0 !important;
   padding: 0 !important;
   height: 100% !important;
   width: 8% !important;
   backdrop-filter: blur(2px) !important;
   z-index: 10 !important;
} */

.slick-arrow::before{
   color: #000000 !important;
}

.bell{
   box-shadow: -2px 2px 6px 1px black ;
}
